/*

!/.gitconfig
!/.gitignore_global
!/.gitignore

!/.bash_profile
!/.bashrc

!/.setup

!/.scripts

!/.config
/.config/*
!/.config/bash
!/.config/fish
/.config/fish/*
!/.config/fish/functions
!/.config/fish/*.fish
!/.config/i3
!/.config/rofi
!/.config/terminology
!/.config/pcmanfm

!/.assets

!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.mew.el

!/.hyper.js

!/myterminal-configs.json

!/.face*

!/LICENSE
!/README.org
