[core]
    excludesfile = ~/.gitignore_global
    visual = 'emacs' --no-splash -q -nw
    editor = 'emacs' --no-splash -q -nw
[user]
    name = myTerminal
    email = team.terminal@gmail.com
[alias]
    fc = fetch
    st = status
    df = diff
    co = checkout
    rs = reset
    rh = reset --hard
    ad = "!f() { git add \"$@\"; git st; }; f"
    cm = commit
    lg = log
    pl = pull origin
    down = pull origin master
    ps = push origin
    up = push origin master
    sync = "!mt-update-all-projects"
