# *
*

# Config
!.config

# Emacs
!.emacs.d/myTerminal
!.emacs.d/other-plugins
!.emacs.d/init.el
!.mew.el

# Git
!.gitconfig

# Bash
!.bash_profile
!.bashrc
!.scripts

# myterminal
!myterminal-configs.json

# Misc
!/LICENSE
!/README.md
