[core]
        excludesfile = ~/.gitignore_global
        visual = 'emacs' --no-splash -q -nw
        editor = 'emacs' --no-splash -q -nw
[user]
	name = myTerminal
	email = team.terminal@gmail.com
[alias]
        st = status
        df = diff
        lg = log
        co = checkout
        rs = reset
        fc = fetch
        cm = commit
        pl = pull origin
        down = pull origin master
        ps = push origin
        up = push origin master
