[core]
        visual = 'emacs' --no-splash -q
        editor = 'emacs' --no-splash -q
[user]
	name = myTerminal
	email = team.terminal@gmail.com
[alias]
        st = status
        lg = log
        ps = push origin
        pl = pull origin
        cm = commit
        co = checkout
        df = diff
