/*

!/.gitconfig
!/.gitignore_global
!/.gitignore

!/.bash_profile
!/.bashrc

!/.shell

!/.config
/.config/*
!/.config/fish
/.config/fish/*
!/.config/fish/*.fish
!/.config/i3

!/.emacs.d
/.emacs.d/*
!/.emacs.d/myTerminal
!/.emacs.d/local-packages
!/.emacs.d/other-plugins
!/.emacs.d/sounds
!/.emacs.d/init.el
!/.mew.el

!/.hyper.js

!/myterminal-configs.json

!/LICENSE
!/README.md
