!! Colors
*.foreground: #93a1a1
*.background: #001b1b
*.cursorColor: #afbfbf
! Black
*.color0: #010101
*.color8: #5b5b5b
! Red
*.color1: #bd5243
*.color9: #d6908b
! Green
*.color2: #88ab39
*.color10: #c3e264
! Yellow
*.color3: #c5a739
*.color11: #f2d771
! Blue
*.color4: #4a899e
*.color12: #94cee4
! Magenta
*.color5: #be98c6
*.color13: #eea8ec
! Cyan
*.color6: #207f8c
*.color14: #71d4cd
! White
*.color7: #a7a7a7
*.color15: #eaeaea

!! URxvt
URxvt.font: xft:robotomono:size=14
URxvt.cursorBlink: true
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
